body {
  max-width: 800px;
  margin: auto;
}
body.nojs #main {
  display: none;
}
body:not(.nojs) #jsmessage {
  display: none;
}

#jsmessage {
  border: 2px solid #cb296a;
}

body, input, button {
  font-size: 30px;
  line-height: 1.5;  
  color: #00b2e4;
}
h1 {
  font-size: 50px;
  color: #29a8cb;
}
input[type=submit], button {
  color: white;
  background-color: #00b2e4; 
  margin-top: 30px;
  border-radius: 10px;
  border: #00b2e4;
  padding: 10px;
  border: 1px solid #00b2e4; 
  cursor: pointer;
}
input[type=submit]:focus, input[type=submit]:hover, button:hover, button:focus {
  background-color: #29a8cb;
  border-color: #29a8cb;
  outline: none;
}
button.ghost {
  background-color: white;
  color: #00b2e4;
}
button.ghost:hover, button.ghost:focus {
  background-color: white;
  color: #29a8cb;
  border-color: #29a8cb;
}
input[type=text] {
  border: none;
  border-bottom: 1px solid #00b2e4;
  color: #00b2e4;
  padding: 2px 7px;
  white-space: nowrap;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  outline-width: 0px;
  min-width: 50px;
  max-width: 50%;
  transition: color .25s,border .25s;
}
input[type=text]:focus {
  border-bottom: 2px solid #29a8cb;
}


input::placeholder {
  color: #cbab29;
}


#story-form, #result {
  display: block;
  width: 100%;
  text-align: center;
}

#story-form label {
  display: block;
}

#result p {
  color: #29cb4c;
}

#books {
  color: #232323;
}
#books a, #books a:visited {
  color: #232323;
  font-weight: bold;
}
#books a:hover {
  color: black;
}
#colophon {
  padding-top: 12px;
  text-align:center;
  border-top: 1px solid #29a8cb;
  color: #29a8cb;
  font-size: 12px;
}
#colophon a, #colophon a:visited, #colophon a:hover {
  color: #29a8cb;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #00b2e4;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

